# Node / frontend
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output lokalny (niepotrzebny, bo budujemy w Dockerze)
dist
build
.out
.next
coverage

# VCS / IDE
.git
.gitignore
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Docker artefakty
Dockerfile.*
docker-compose*.yml
